fastapi
uvicorn
python-dotenv
python-multipart
cloudinary
passlib[bcrypt]
authlib
fastapi[all]
requests
pydantic
jose
motor  # MongoDB async driver
beautifulsoup4
python-jose
gunicorn
starlette
typing
