fastapi
uvicorn
python-dotenv
python-multipart
cloudinary
passlib[bcrypt]
authlib
requests
pydantic
jose
motor  # MongoDB async driver
beautifulsoup4
python-jose
starlette
bcrypt==4.0.1
httpx
itsdangerous
